.App {
  text-align: center;
}

body {
  background-color: #1F1C1F;
  word-wrap: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  background-image: url('https://media.giphy.com/media/l1J9ENegnLn0JxY4g/giphy.gif');
  min-height: 80vh;
}

/* 
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

header {
  background-image: url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  height: 400px;
  background-size: cover;
  background-position: center;
  /* align-content: flex-end; */
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 11px 19px 8px black;
  display: flex;
  flex-direction: column;
}

.links {
  text-decoration: none;
  margin: 2%;
  font-size: 1em;
  align-content: flex-end;
  margin-top: auto;
  word-wrap: normal;
}

a:hover {
  color: grey;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  margin: 10%;
  color: black;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: flex-end;
}
h1 {
  font-size: 40px;
}
h1, h2 {
  background-color: rgba(255, 255, 255, 0.6);
  color: rebeccapurple;
  font-weight: 900;
  padding: 20px;
}

h3, h4, h5, p {
  color: white;
}

.navigationBar {
  list-style: none;
  /* display: flex;
  justify-content: space-between;
  align-content: flex-end; */
}


nav {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  font-weight: 700;
  /* font-size: larger; */
  justify-content: space-between;
  align-content: flex-end;
  word-wrap: normal;
  /* width: 100%; */
}

/* .doc-card {
  border-radius: 1px solid black;
} */

.container {
  padding: 30px;
  /* margin: auto; */
}

/* .miniInfo {
  padding: 30px;
  margin: auto;
} */

.providerPic {
  max-width: 125px;
}

.doc-card {
  padding: 20px;
  word-wrap: break-word;
}

.noMatch {
  background-position: center;
  background-image: url('https://media.giphy.com/media/YyKPbc5OOTSQE/giphy.gif');
  min-height: 80vh;
}
/* 
.mainContent {
  background-size: cover;
  margin: 0;
} */