.App {
  text-align: center;
}
/* 
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

header {
  background-image: url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  height: 400px;
  background-size: cover;
  background-position: center;
  /* align-content: flex-end; */
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 11px 19px 8px black;
}

.links {
  text-decoration: none;
  margin: 2%;
  font-size: 1em;
  align-content: flex-end;
}

a:hover {
  color: grey;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  margin: 10%;
  color: black;
  /* display: flex;
  justify-content: space-evenly;
  flex-direction: row; */
  align-content: flex-end;
}



h1, h2 {
  background-color: rgba(255, 255, 255, 0.6);
  color: rebeccapurple;
  margin: auto;
  font-weight: 900;
  font-size: 32px;
}

.navigationBar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

div.links {
  display: inline;
  align-items: flex-end;

}

nav {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  font-weight: 700;
  font-size: larger;
}

/* .doc-card {
  border-radius: 1px solid black;
} */

.container {
  padding: 30px;
}

