/*--------- Full Page -------------*/

.App {
  text-align: center;
}

body {
  background-color: rgb(31, 28, 31);
  word-wrap: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/*--------- Header -------------*/

header {
  background-image: url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  height: 400px;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 11px 19px 8px black;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 45px;
}

h1, h2 {
  background-color: rgba(255, 255, 255, 0.6);
  color: rebeccapurple;
  font-weight: 900;
  padding: 20px;
}

/*--------- Navigation Bar -------------*/

nav {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-content: center;
  word-wrap: normal;
}

.links {
  text-decoration: none;
  margin-top: auto;
  word-wrap: normal;
}

a:hover {
  color: grey;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: rebeccapurple;
  font-size: 20px;
}

.navigationBar {
  list-style: none;
}

/*--------- Main Section -------------*/

.home {
  background-image: url('https://media.giphy.com/media/l1J9ENegnLn0JxY4g/giphy.gif');
  min-height: 60vh;
}

h3, h4, h5, p {
  color: white;
}

/*--------- Provider Pages -------------*/

.container {
  padding: 30px;
}


.providerPic {
  max-width: 125px;
}

.doc-card {
  padding: 20px;
  word-wrap: break-word;
}

/*--------- Search Bar -------------*/

button {
  background-color: rgb(31, 28, 31);
  color: rgb(255, 255, 255);
}

/*--------- 404 Page -------------*/

.noMatch {
  background-position: center;
  background-image: url('https://media.giphy.com/media/YyKPbc5OOTSQE/giphy.gif');
  min-height: 80vh;
}

/*--------- Footer -------------*/

.footerMargin {
  padding: 20px;
}

.footer {
  margin: 1% !important;
}


/*--------- iPad Responsiveness -------------*/

@media all and (max-width: 770px) {
  .app {
    display: flex;
    flex-wrap: wrap;
  }

  a:link {
    margin: 2%;
  }

  .links {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  h1, h2 {
    flex-wrap: wrap;
  }

}

/*--------- iPhone Responsiveness -------------*/

@media all and (max-width: 400px) {
  .app {
    display: flex;
    flex-wrap: wrap;
  }

  a:link {
    margin: 2%;
    font-size: 12px;
  }

  .links {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  h1, h2 {
    word-wrap: break-word;
  }

  main {
    padding: 0px;
  }

  .navigationBar {
    font-size: 16px;
  }

  .loadingSpinner {
    max-width: 50%;
  }
}